@import "../../themes/stories.globals";

// Footer
// --------------------------------------------------

str-footer {
  display: block;
  position: relative;

  order: 1;

  width: 100%;

  z-index: $z-index-toolbar;
}

str-footer str-toolbar:last-of-type {
  padding-bottom: var(--str-safe-area-bottom, 0);
}
