@import "../../themes/stories.globals";
@import "./grid.mixins";

// Grid
// --------------------------------------------------

/// @prop - The padding for the grid
$grid-padding:               var(--str-grid-padding, 5px) !default;

/// @prop - The padding for the grid at different breakpoints
$grid-paddings: (
  xs: var(--str-grid-padding-xs, $grid-padding),
  sm: var(--str-grid-padding-sm, $grid-padding),
  md: var(--str-grid-padding-md, $grid-padding),
  lg: var(--str-grid-padding-lg, $grid-padding),
  xl: var(--str-grid-padding-xl, $grid-padding)
) !default;

/// @prop - Width of the grid for different screen sizes when fixed is enabled
$grid-widths: (
  xs: var(--str-grid-width-xs, var(--str-grid-width, 100%)),
  sm: var(--str-grid-width-sm, var(--str-grid-width, 540px)),
  md: var(--str-grid-width-md, var(--str-grid-width, 720px)),
  lg: var(--str-grid-width-lg, var(--str-grid-width, 960px)),
  xl: var(--str-grid-width-xl, var(--str-grid-width, 1140px))
) !default;


// Grid
// --------------------------------------------------

:host {
  /**
   * @prop --str-grid-padding: Padding for the Grid
   * @prop --str-grid-padding-xs: Padding for the Grid on xs screens
   * @prop --str-grid-padding-sm: Padding for the Grid on sm screens
   * @prop --str-grid-padding-md: Padding for the Grid on md screens
   * @prop --str-grid-padding-lg: Padding for the Grid on lg screens
   * @prop --str-grid-padding-xl: Padding for the Grid on xl screens
   *
   * @prop --str-grid-width: Width of the fixed Grid
   * @prop --str-grid-width-xs: Width of the fixed Grid on xs screens
   * @prop --str-grid-width-sm: Width of the fixed Grid on sm screens
   * @prop --str-grid-width-md: Width of the fixed Grid on md screens
   * @prop --str-grid-width-lg: Width of the fixed Grid on lg screens
   * @prop --str-grid-width-xl: Width of the fixed Grid on xl screens
   */

  @include make-breakpoint-padding($grid-paddings);
  @include margin-horizontal(auto);

  display: block;

  flex: 1;
}

// Fixed Grid
// --------------------------------------------------

:host(.grid-fixed) {
  @include make-grid-widths();
}

// Grid Padding
// --------------------------------------------------

// Remove the padding from grid and all immediate children columns
:host(.str-no-padding) {
  --str-grid-column-padding: 0;
  --str-grid-column-padding-xs: 0;
  --str-grid-column-padding-sm: 0;
  --str-grid-column-padding-md: 0;
  --str-grid-column-padding-lg: 0;
  --str-grid-column-padding-xl: 0;
}
