<str-app [modules]="modules" (strChange)="setStory" (strContextChange)="setContext">
  <str-split-pane split="horizontal" minSize="150" defaultSize="250">
    <str-sidebar slot="slot1"></str-sidebar>
    <div slot="slot2">
      <str-tool-bar>
        <str-tool-zoom slot="left"></str-tool-zoom>
      </str-tool-bar>
      <str-split-pane split="vertical"  minSize="250" defaultSize="500">
        <str-preview slot="slot1">
          <str-renderer [story]="story"></str-renderer>
        </str-preview>
        <str-tabs slot="slot2">
          <str-tab-bar>
            <str-tab-button tab="actions">
              <str-label color="primary">Actions</str-label>
            </str-tab-button>
            <str-tab-button tab="controls">
              <str-label color="primary">Controls</str-label>
            </str-tab-button>
          </str-tab-bar>
          <str-tab tab="actions">
            <str-addon-actions></str-addon-actions>
          </str-tab>
          <str-tab tab="controls">
            <str-addon-controls></str-addon-controls>
          </str-tab>
        </str-tabs>
      </str-split-pane>
    </div>
  </str-split-pane>
</str-app>
