str-button:not(.hydrated),
str-checkbox:not(.hydrated),
str-dropdown:not(.hydrated),
str-fieldstroup:not(.hydrated),
str-menu:not(.hydrated),
str-menu-item:not(.hydrated),
str-menu-label:not(.hydrated),
str-radio-stroup:not(.hydrated),
str-radio:not(.hydrated),
str-select:not(.hydrated),
str-tag:not(.hydrated) {
  visibility: hidden;
}
